.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  color: rgb(59, 58, 58);
  background-color: rgba(255, 255, 255, 0.3);
}

.outerBox h2 {
  font-weight: 600;
  margin-top: 5px;
}

.imageUplodeBox {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  position: relative;
}

.imageUploadInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
